################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TSBDashboard/TSBDashboard/appsettings.json
/TSBDashboard/TSBDashboard/.vs/TSBDashboard
/TSBDashboard/TSBDashboard/obj
/TSBDashboard/.vs/TSBDashboard/FileContentIndex
/TSBDashboard/TSBDashboard/bin

.fake
/TSBDashboard/.vs/TSBDashboard/copilot-chat
/TSBDashboard/.vs/TSBDashboard/CopilotIndices
